# Node.js files
node_modules/
npm-debug.log
yarn-error.log

# Build files
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp

# Data files
data/

# Proxy files
proxy.txt

# Other
*.bak
*.orig